<ion-view view-title="Felicity 2K16">
  <ion-content>
    <ion-list>
      <ion-item type="item-text-wrap" href="#/events">
        <h2>Events</h2>
      </ion-item>
      <ion-item type="item-text-wrap" href="#/about">
        <h2>About</h2>
      </ion-item>
      <ion-item type="item-text-wrap" href="#/schedule">
        <h2>Schedule</h2>
      </ion-item>
      <ion-item type="item-text-wrap" href="#/gallery">
        <h2>Gallery</h2>
      </ion-item>
      <ion-item type="item-text-wrap" href="#/major_nights">
        <h2>Major Nights</h2>
      </ion-item>
      <ion-item type="item-text-wrap" href="#/sponsors">
        <h2>Sponsors</h2>
      </ion-item>
      <ion-item type="item-text-wrap" href="#/team">
        <h2>Team</h2>
      </ion-item>
      <ion-item type="item-text-wrap" href="#/contact">
        <h2>Contact</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
